/* style.css */

.header {
  background-image: linear-gradient(to right, lightblue, darkblue);
  color: #f4f3f2;
  padding: 10%;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#welcome-text {
  border: 1px solid rgb(194, 206, 246);
  border-radius: 30px;
  padding: 5px;
  font-size: 10px;
}

.header-content h1 {
  font-size: 350%;
  margin: 1%;
}

.header-content-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  margin: 2%;
}

.header-content button {
  font-weight: bold;
  color: rgb(15, 15, 89);
  border-radius: 8px;
  border-color: transparent;
  background: #f4f3f2;
  padding: 10%;
  white-space: nowrap;
}

.header-content button:hover {
  background-color: rgb(15, 15, 89);
  color: #f4f3f2;
}

.section {
  background-color: #f4f3f2;
}

.featured-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured-collection h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 300%;
  margin: 7%;
  margin: 2%;
}

.featured-collection p {
  font-size: 80%;
  margin: 2%;
  margin-top: 1%;
}

.product-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 2%;
}

.product-cards img {
  border: 2px solid rgb(216, 217, 217);
  border-radius: 10%;
  padding: 10%;
}

.product-cards img:hover {
  border-color: rgb(15, 15, 89);
}

.featured-collection-btn {
  font-weight: bold;
  color: #f4f3f2;
  border-radius: 8px;
  border-color: transparent;
  background: rgb(15, 15, 89);
  padding: 1%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.featured-collection-btn:hover {
  background-color: #f4f3f2;
  color: rgb(15, 15, 89);
  cursor: pointer;
}
