/* style.css */

header {
  background-image: linear-gradient(to right, lightblue, darkblue);
  color: #f4f3f2;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header .welcome-text {
  border: 1px solid rgb(194, 206, 246);
  color: #f4f3f2;
  border-radius: 30px;
  padding: 5px;
  font-size: 10px;
}

header h1 {
  font-size: 350%;
  margin: 1%;
}

header .header-text {
  color: #f4f3f2;
}

.header-content-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  margin: 2%;
}

.header-content-btns button {
  font-weight: bold;
  color: rgb(15, 15, 89);
  border-radius: 8px;
  border-color: transparent;
  background: #f4f3f2;
  padding: 10%;
  white-space: nowrap;
}

.header-content-btns button:hover {
  background-color: rgb(15, 15, 89);
  color: #f4f3f2;
}

section {
  background-color: #f4f3f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section h2 {
  font-size: 300%;
  margin: 7%;
  margin: 2%;
}

section p {
  font-size: 80%;
  margin: 2%;
  margin-top: 1%;
}

.product-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
  margin-top: 2%;
}

.product-card-comp {
  text-align: center; /* Ensures text content is centered */
  width: 200px; /* Adjust width as needed */
  max-width: 100%; /* Ensure it doesn't exceed container width */
}

.product-cards img {
  border: 2px solid rgb(216, 217, 217);
  border-radius: 10%;
  width: 100%;
}

.product-cards img:hover {
  border-color: rgb(15, 15, 89);
}

.featured-collection-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-collection-btn button {
  font-weight: bold;
  color: #f4f3f2;
  border-radius: 8px;
  border-color: transparent;
  background: rgb(15, 15, 89);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  white-space: nowrap;
}

.featured-collection-btn button:hover {
  background-color: #f4f3f2;
  color: rgb(15, 15, 89);
  cursor: pointer;
}
