.header {
  background-image: linear-gradient(to right, lightblue, darkblue);
  color: #f4f3f2;
  padding: 10%;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#welcome-text {
  border: 2px solid rgb(194, 206, 246);
  border-radius: 30px;
  border-width: 1px;
  padding: 5px;
  font-size: 10px;
}

.header-content h1 {
  font-size: 350%;
  margin: 1%;
  margin-bottom: 1%;
}

.header-content .header-content-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
  margin: 2%;
}

.header-content button {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: rgb(15, 15, 89);
  border-radius: 8px;
  border-color: transparent;
  background: rgb(240, 245, 247);
  padding: 10%;
  white-space: nowrap;
  width: auto;
  height: auto;
}

.header-content button:hover {
  background-color: rgb(15, 15, 89);
  color: rgb(240, 245, 247);
}

.featured-collection h2 {
  font-size: 300%;
  margin: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
